page-login {

    .labeltext {
        position     : relative;
        left         : 0%;
        right        : 0%;
        align-content: center;
        align-items  : center;
        text-align   : center;
        margin: 0;
        margin: auto;
        color:blue;
        font-weight: 600;
        text-transform: capitalize;
    }
}