page-list {
	.headertitle {
		background-image: url('../../assets/imgs/BG_mobile.png');
		object-fit      : cover;
	}

	.bg {
		background-image: url('../../assets/imgs/BG_mobile.png');
		object-fit      : cover;
	}

	.item {
		text-align   : center;
		font-size    : 1.4rem;
		margin-bottom: 1px;
		margin-top   : 2px;
		background   : transparent;
		border       : 1px solid fff;
		color        : white;

	}

	.item-md p {
		margin       : 0 0 2px;
		overflow     : inherit;
		font-size    : 1.4rem;
		line-height  : normal;
		text-overflow: inherit;
		color        :white;
	}
}