<ion-header>
  <ion-navbar color="custom">
    <div class="Title">
      <img src="assets/imgs/user.png" width="50" alt="" />
      <h2 style="color:white">Register</h2>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="MainArea">
    <br />
    <br />
    <div>
      <form id="commonform" [formGroup]="reguserForm" (ngSubmit)="douserSignUp(reguserForm.value)">

        <div class="login-form">






          <div class="form-group">
            <label class="labeltext">Mobile Number</label>
            <ion-input type="tel" name="mobile" maxlength="10" formControlName="mobile" class="form-control"
              [ngClass]="{'error-border':!reguserForm.controls['mobile'].valid}"></ion-input>
            <div class="error-message"
              *ngIf="reguserForm.controls['mobile'].hasError('minlength')&&reguserForm.controls['mobile'].touched">
              * Mobile No Should not less than 8 digit</div>
            <div class="error-message"
              *ngIf="reguserForm.controls['mobile'].hasError('maxlength')&&reguserForm.controls['mobile'].touched">
              * Mobile No Should not exceed 12 digit</div>
          </div>



          <div class="form-group">
            <label class="labeltext">Password</label>
            <ion-input type="password" name="password" formControlName="password" class="form-control"
              [ngClass]="{'error-border':!reguserForm.controls['password'].valid}" clearOnEdit="false"></ion-input>
            <div class="error-message"
              *ngIf="reguserForm.controls['password'].hasError('minlength')&&reguserForm.controls['password'].touched">
              * Password Should not less than 6 digit</div>
          </div>
        </div>
        <div class="submit-btn">
          <button type="submit" [disabled]="!reguserForm.valid" class="btn btn-primary">Register</button>
        </div>
      </form>
      <div class="forgot" (click)="userlogin()">Already Registered? Login here </div>
    </div>

  </div>
</ion-content>