page-home {

    .headertitle {
        background-image: url('../../assets/imgs/BG_mobile.png');
        object-fit      : cover;
    }

    .bg {
        background-image: url('../../assets/imgs/BG_mobile.png');
        object-fit      : cover;
    }

    .searchbar-md .searchbar-input {
        padding            : 6px 55px;
        border-radius      : 2px;
        background-position: left 8px center;
        height             : auto;
        font-size          : 1.5rem;
        font-weight        : 400;
        line-height        : 3rem;
        border-radius      : 50px;
        color              : #141414;
        background-color   : #fff;
        -webkit-box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow         : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .searchcss{
        position: relative;
        width:100%;
        border:none;
    }

    .input {
        border-bottom: 1px solid white;
        width        : 142%;
        position     : relative;
        left         : 0%;
        right        : 0%;
        align-items  : center;
        align-content: center;
        margin       : auto;
        color        : white;
        text-align   : center;
    }

    .image {
        position: relative;
        height  : 40px;
        width   : 40px;
    }

    .whatsappimage {
        position: relative;
        top     : 2px;
        height  : 45px;
        width   : 45px;
    }

    .secondcol {
        position : relative;
        top      : 12px;
        left     : -40px;
        width    : 100px;
        font-size: 1.7rem;
    }

    .thirdcol {
        position : relative;
        top      : 3px;
        right    : -10px;
        font-size: 1.2em;
    }

    .item {
        text-align   : center;
        margin-bottom: 1px;
        margin-top   : 2px;
        background   : transparent;
        color        : white;

    }

    .item-md p {
        margin       : 0 0 2px;
        overflow     : inherit;
        font-size    : 1.4rem;
        line-height  : normal;
        text-overflow: inherit;
        color        : white;
    }

    
}