.btn:focus {
	outline: none;
}

.form-control:focus {
	outline: none;
}

.MainArea {
	background: #fff;
	margin    : 0 auto;
	position  : relative;
	height    : 100%;
}

.Title {
	position     : relative;
	padding      : 6px;
	background   : #7025b1;
	color        : #fff;
	left         : 0%;
	right        : 0%;
	margin       : auto;
	font-weight  : bolder;
	text-align   : center;
	align-items  : center;
	align-content: center;
}

.toolbar {
	background: #7025b1;
}

.login-form {
	padding: 30px;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	background   : #fff;
	border-bottom: 1px solid #ccc;
	border-left  : 0;
	border-right : 0;
	border-top   : 0;
	border-radius: 0;
	font-size    : 14px;
	height       : 40px;
	line-height  : 40px;
	display      : block;
	width        : 100%;
}

.forgot {
	text-align: center;
	padding   : 10px 0 20px 0;
	clear     : both;
	width     : 100%;
	font-size : 14px;
}

.forgot a {
	color          : #000;
	text-decoration: none;
}

.submit-btn {
	position: relative;
	margin  : auto;
	bottom  : 30px;
	width   : 80%
}

.btn.btn-primary {
	background    : #7025b1;
	border        : none;
	color         : #fff;
	font-size     : 18px;
	height        : 50px;
	line-height   : 50px;
	text-transform: capitalize;
	border-radius : 30px;
	width         : 100%;
}

.mt-15 {
	margin-top: 15px;
}

input.text-input {
	margin: 0;
}

.scroll-content {
	padding-bottom: 0 !important;
}

.error-message {
	position : relative;
	color    : red;
	width    : 100%;
	font-size: 1.3rem;
}

ion-header ion-icon.back-button-icon.icon {
	color: map-get($colors, white);
}

.back-button-icon-md {
	color: white;

}

.back-button-icon-ios {
	color: white;
}

.modalcss {
  .modal-wrapper {
	max-height   : 350px;
	max-width    : 350px;
	position     : relative;
	top          : 20%;
	left         : 0%;
	right        : 0%;
	bottom       : 0%;
	align-items  : center;
	align-content: center;
	text-align   : center;
	margin       : auto;
	border-radius: 10px;
	overflow     : hidden;
}

}

ion-modal {
	&.modalcss{
	  background: rgba(0,0,0,.4);
	}
  }